NodeRed_enode_MQTT_V2.json
[{"id":"637afd4d0ace0cde","type":"tab","label":"Xpeng Kopi","disabled":false,"info":"","env":[]},{"id":"35cf0289912d1992","type":"inject","z":"637afd4d0ace0cde","name":"Run every 5 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":800,"wires":[["c7ca0466485a4f73"]]},{"id":"c7ca0466485a4f73","type":"exec","z":"637afd4d0ace0cde","command":"curl https://oauth.production.enode.io/oauth2/token -X POST -u YourClientID:YourClientSecret -d \"grant_type=client_credentials\"","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Update token","x":470,"y":800,"wires":[["92e8b1598a23b1c7"],[],[]]},{"id":"92e8b1598a23b1c7","type":"function","z":"637afd4d0ace0cde","name":"Extract and construct curl","func":"try {\n    // Parse the JSON response\n    let response = JSON.parse(msg.payload);\n\n    // Extract the access token\n    let token = response.access_token;\n\n    // Construct the curl command\n    msg.payload = `curl -X GET https://enode-api.production.enode.io/vehicles -H \"Authorization: Bearer ${token}\"`;\n\n    return msg;\n} catch (error) {\n    // Log the error and the payload\n    node.error(\"Failed to parse JSON: \" + error.message);\n    node.error(\"Payload: \" + msg.payload);\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":800,"wires":[["670408f198f29175","85284a3e48d99f9b"]]},{"id":"670408f198f29175","type":"debug","z":"637afd4d0ace0cde","name":"debug 144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":720,"wires":[]},{"id":"85284a3e48d99f9b","type":"exec","z":"637afd4d0ace0cde","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Update data from enode","x":950,"y":800,"wires":[["22871b78d08b37c6","d823f4d511fa661e","857c8e5c1d826abc","86337a32d9f64e2a"],[],[]]},{"id":"22871b78d08b37c6","type":"debug","z":"637afd4d0ace0cde","name":"debug 145","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":700,"wires":[]},{"id":"d823f4d511fa661e","type":"function","z":"637afd4d0ace0cde","name":"Parse JSON Data","func":"let data = JSON.parse(msg.payload).data[0];\n\n// Prepare payloads for each sensor\nmsg.payload = [\n    {\n        payload: {\n            data: {\n                state: data.chargeState.batteryLevel,\n                attributes: {\n                    unit_of_measurement: \"%\",\n                    friendly_name: \"Vehicle Battery Level\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_battery_level\"\n    },\n    {\n        payload: {\n            data: {\n                state: data.chargeState.range,\n                attributes: {\n                    unit_of_measurement: \"km\",\n                    friendly_name: \"Vehicle Range\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_range\"\n    },\n    {\n        payload: {\n            data: {\n                state: data.chargeState.isCharging ? \"Charging\" : \"Not Charging\",\n                attributes: {\n                    friendly_name: \"Vehicle Charging Status\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_charging_status\"\n    },\n    {\n        payload: {\n            data: {\n                state: data.chargeState.isPluggedIn ? \"Plugged In\" : \"Unplugged\",\n                attributes: {\n                    friendly_name: \"Vehicle Plugged In\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_plugged_in\"\n    },\n    {\n        payload: {\n            data: {\n                state: `${data.location.latitude}, ${data.location.longitude}`,\n                attributes: {\n                    friendly_name: \"Vehicle Location\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_location\"\n    },\n    {\n        payload: {\n            data: {\n                state: data.lastSeen,\n                attributes: {\n                    friendly_name: \"Vehicle Last Seen\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_last_seen\"\n    }\n];\n\nreturn [msg.payload.map(sensor => ({ ...sensor, payload: sensor.payload }))];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":760,"wires":[["699f324296826dc9"]]},{"id":"699f324296826dc9","type":"debug","z":"637afd4d0ace0cde","name":"debug 146","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":700,"wires":[]},{"id":"49262875bba2fb02","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1590,"y":820,"wires":[]},{"id":"857c8e5c1d826abc","type":"function","z":"637afd4d0ace0cde","name":"Extract primary (Sensors 1-6) data from array","func":"// Parse the JSON string into an object\nlet data;\ntry {\n    data = JSON.parse(msg.payload);\n} catch (e) {\n    node.error(\"Invalid JSON string\", msg);\n    return null;\n}\n\n// Set the main topic\nconst mainTopic = \"xpeng/\";\n\n// Function to convert boolean to string\nconst boolToString = (value) => value ? \"true\" : \"false\";\n\n// Check if the data array exists\nif (data && Array.isArray(data.data)) {\n    // Extract the data array\n    const dataArray = data.data;\n\n    // Prepare an array to hold multiple messages\n    const messages = [];\n\n    // Iterate over each item in the data array\n    dataArray.forEach(item => {\n        // Extract relevant information\n        const batteryLevel = item.chargeState.batteryLevel;\n        const range = item.chargeState.range;\n        const isPluggedIn = item.chargeState.isPluggedIn;\n        const isCharging = item.chargeState.isCharging;\n        const location = `${item.location.latitude}, ${item.location.longitude}`;\n        const lastSeen = item.lastSeen;\n\n        // Create messages for each attribute with distinct topics\n        if (batteryLevel !== undefined) {\n            messages.push({ topic: mainTopic + \"battery_level\", payload: batteryLevel });\n        }\n        if (range !== undefined) {\n            messages.push({ topic: mainTopic + \"range\", payload: range });\n        }\n        if (isPluggedIn !== undefined) {\n            // Convert boolean to string\n            messages.push({ topic: mainTopic + \"is_plugged_in\", payload: boolToString(isPluggedIn) });\n        }\n        if (isCharging !== undefined) {\n            // Convert boolean to string\n            messages.push({ topic: mainTopic + \"is_charging\", payload: boolToString(isCharging) });\n        }\n        if (location !== undefined) {\n            const [latitude, longitude] = location.split(\", \");\n            messages.push({ topic: mainTopic + \"location\", payload: location });\n        }\n        if (lastSeen !== undefined) {\n            messages.push({ topic: mainTopic + \"last_seen\", payload: lastSeen });\n        }\n    });\n\n    // Return each message separately\n    return [messages];\n} else {\n    // If the data array is not present, return an empty array or handle the error\n    node.error(\"Data array is not present or not an array\", msg);\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":820,"wires":[["dee470c4d6c59212","49262875bba2fb02"]]},{"id":"dee470c4d6c59212","type":"debug","z":"637afd4d0ace0cde","name":"debug 147","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":760,"wires":[]},{"id":"6aa138ef9982ed33","type":"inject","z":"637afd4d0ace0cde","name":"Battery Level Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_battery_level/config","payload":"{\"name\":\"Xpeng Battery Level\",\"state_topic\":\"xpeng/battery_level\",\"unit_of_measurement\":\"%\",\"device_class\":\"battery\",\"unique_id\":\"xpeng_battery_level\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":265.3333740234375,"y":100.6666259765625,"wires":[["fa0b19ba0b0a0c63"]]},{"id":"030f2ccbf970ec43","type":"inject","z":"637afd4d0ace0cde","name":"Range Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_range/config","payload":"{\"name\":\"Xpeng Range\",\"state_topic\":\"xpeng/range\",\"unit_of_measurement\":\"km\",\"device_class\":\"distance\",\"unique_id\":\"xpeng_range\",\"icon\":\"mdi:speedometer\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":245.3333740234375,"y":160.6666259765625,"wires":[["750a953ac833c70e"]]},{"id":"8fb140b0a91dc1a7","type":"inject","z":"637afd4d0ace0cde","name":"Is Plugged In Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_is_plugged_in/config","payload":"{\"name\":\"Xpeng Is Plugged In\",\"state_topic\":\"xpeng/is_plugged_in\",\"unique_id\":\"xpeng_is_plugged_in\",\"payload_on\":true,\"payload_off\":false,\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":265.3333740234375,"y":220.6666259765625,"wires":[["ff2413501106b618"]]},{"id":"9d0e71ed62d5351a","type":"inject","z":"637afd4d0ace0cde","name":"Is Charging Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_is_charging/config","payload":"{\"name\":\"Xpeng Is Charging\",\"state_topic\":\"xpeng/is_charging\",\"unique_id\":\"xpeng_is_charging\",\"payload_on\":true,\"payload_off\":false,\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":265.3333740234375,"y":280.6666259765625,"wires":[["368fcb7735129039"]]},{"id":"cdb7f2b727acdc4a","type":"inject","z":"637afd4d0ace0cde","name":"Location Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/device_tracker/xpeng_location/config","payload":"{\"name\":\"Xpeng Location\",\"state_topic\":\"xpeng/location\",\"unique_id\":\"xpeng_location\",\"icon\":\"mdi:car\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"},\"device_class\":\"gps\",\"json_attributes_topic\":\"xpeng/location_attributes\",\"source_type\":\"gps\",\"latitude\":0,\"longitude\":0,\"gps_accuracy\":0}","payloadType":"json","x":255.3333740234375,"y":340.6666259765625,"wires":[["cb36d60b2b83c2b1"]]},{"id":"a8abd4cceea5192c","type":"inject","z":"637afd4d0ace0cde","name":"Last Seen Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_last_seen/config","payload":"{\"name\":\"Xpeng Last Seen\",\"state_topic\":\"xpeng/last_seen\",\"device_class\":\"timestamp\",\"unique_id\":\"xpeng_last_seen\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":255.3333740234375,"y":400.6666259765625,"wires":[["41e59b5a14aaf054"]]},{"id":"fa0b19ba0b0a0c63","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":515.3333740234375,"y":100.6666259765625,"wires":[]},{"id":"750a953ac833c70e","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":515.3333740234375,"y":160.6666259765625,"wires":[]},{"id":"ff2413501106b618","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":515.3333740234375,"y":220.6666259765625,"wires":[]},{"id":"368fcb7735129039","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":515.3333740234375,"y":280.6666259765625,"wires":[]},{"id":"cb36d60b2b83c2b1","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":517,"y":341,"wires":[]},{"id":"41e59b5a14aaf054","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":510,"y":400,"wires":[]},{"id":"86337a32d9f64e2a","type":"function","z":"637afd4d0ace0cde","name":"Extract all data from array","func":"// Parse the JSON string into an object\nlet data;\ntry {\n    data = JSON.parse(msg.payload);\n} catch (e) {\n    node.error(\"Invalid JSON string\", msg);\n    return null;\n}\n\n// Set the main topic\nconst mainTopic = \"xpeng/\";\n\n// Function to convert boolean to string\nconst boolToString = (value) => value ? \"true\" : \"false\";\n\n// Check if the data array exists\nif (data && Array.isArray(data.data)) {\n    // Extract the data array\n    const dataArray = data.data;\n\n    // Prepare an array to hold multiple messages\n    const messages = [];\n\n    // Iterate over each item in the data array\n    dataArray.forEach(item => {\n        // Extract relevant information\n        const id = item.id;\n        const userId = item.userId;\n        const vendor = item.vendor;\n        const isReachable = item.isReachable;\n        const lastSeen = item.lastSeen;\n        \n        const information = item.information || {};\n        const chargeState = item.chargeState || {};\n        const smartChargingPolicy = item.smartChargingPolicy || {};\n        const location = item.location || {};\n        const odometer = item.odometer || {};\n        const capabilities = item.capabilities || {};\n        const scopes = item.scopes || [];\n\n        // Create messages for each attribute with distinct topics\n        if (id !== undefined) {\n            messages.push({ topic: mainTopic + \"id\", payload: id });\n        }\n        if (userId !== undefined) {\n            messages.push({ topic: mainTopic + \"user_id\", payload: userId });\n        }\n        if (vendor !== undefined) {\n            messages.push({ topic: mainTopic + \"vendor\", payload: vendor });\n        }\n        if (isReachable !== undefined) {\n            messages.push({ topic: mainTopic + \"is_reachable\", payload: boolToString(isReachable) });\n        }\n        if (lastSeen !== undefined) {\n            messages.push({ topic: mainTopic + \"last_seen\", payload: lastSeen });\n        }\n\n        // Information\n        if (information.displayName !== undefined) {\n            messages.push({ topic: mainTopic + \"information/display_name\", payload: information.displayName });\n        }\n        if (information.vin !== undefined) {\n            messages.push({ topic: mainTopic + \"information/vin\", payload: information.vin });\n        }\n        if (information.brand !== undefined) {\n            messages.push({ topic: mainTopic + \"information/brand\", payload: information.brand });\n        }\n        if (information.model !== undefined) {\n            messages.push({ topic: mainTopic + \"information/model\", payload: information.model });\n        }\n        if (information.year !== undefined) {\n            messages.push({ topic: mainTopic + \"information/year\", payload: information.year });\n        }\n\n        // Charge State\n        Object.keys(chargeState).forEach(key => {\n            const value = chargeState[key];\n            if (value !== undefined) {\n                const payload = typeof value === 'boolean' ? boolToString(value) : value;\n                messages.push({ topic: mainTopic + \"charge_state/\" + key, payload: payload });\n            }\n        });\n\n        // Smart Charging Policy\n        Object.keys(smartChargingPolicy).forEach(key => {\n            const value = smartChargingPolicy[key];\n            if (value !== undefined) {\n                const payload = typeof value === 'boolean' ? boolToString(value) : value;\n                messages.push({ topic: mainTopic + \"smart_charging_policy/\" + key, payload: payload });\n            }\n        });\n\n        // Location\n        Object.keys(location).forEach(key => {\n            const value = location[key];\n            if (value !== undefined) {\n                messages.push({ topic: mainTopic + \"location/\" + key, payload: value });\n            }\n        });\n\n        // Odometer\n        Object.keys(odometer).forEach(key => {\n            const value = odometer[key];\n            if (value !== undefined) {\n                messages.push({ topic: mainTopic + \"odometer/\" + key, payload: value });\n            }\n        });\n\n        // Capabilities\n        Object.keys(capabilities).forEach(capability => {\n            const capabilityData = capabilities[capability];\n            if (capabilityData && typeof capabilityData === 'object') {\n                Object.keys(capabilityData).forEach(key => {\n                    const value = capabilityData[key];\n                    if (value !== undefined) {\n                        const payload = typeof value === 'boolean' ? boolToString(value) : value;\n                        messages.push({ topic: mainTopic + \"capabilities/\" + capability + \"/\" + key, payload: payload });\n                    }\n                });\n            }\n        });\n\n        // Scopes\n        if (scopes.length > 0) {\n            messages.push({ topic: mainTopic + \"scopes\", payload: scopes.join(\", \") });\n        }\n    });\n\n    // Return each message separately\n    return [messages];\n} else {\n    // If the data array is not present, return an empty array or handle the error\n    node.error(\"Data array is not present or not an array\", msg);\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":880,"wires":[["1008d07451af7ab8","4224593061d76365"]]},{"id":"1008d07451af7ab8","type":"debug","z":"637afd4d0ace0cde","name":"debug 148","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":940,"wires":[]},{"id":"4f8bf3b21f3f3bb8","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng ID","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_id/config","payload":"{\"name\":\"Xpeng ID\",\"state_topic\":\"xpeng/id\",\"unique_id\":\"xpeng_id\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":820.666748046875,"y":101.333251953125,"wires":[["7e571a0afec790d2"]]},{"id":"7e571a0afec790d2","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1095.3333740234375,"y":100.6666259765625,"wires":[]},{"id":"22302092984c4e4d","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng User ID","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_user_id/config","payload":"{\"name\":\"Xpeng User ID\",\"state_topic\":\"xpeng/user_id\",\"unique_id\":\"xpeng_user_id\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":825.3333740234375,"y":160.6666259765625,"wires":[["8c307230837470de"]]},{"id":"8c307230837470de","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1090,"y":160,"wires":[]},{"id":"69ad226867c8804d","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Vendor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_vendor/config","payload":"{\"name\":\"Xpeng Vendor\",\"state_topic\":\"xpeng/vendor\",\"unique_id\":\"xpeng_vendor\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":825.3333740234375,"y":220.6666259765625,"wires":[["28a744e0946d8390"]]},{"id":"28a744e0946d8390","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1090,"y":220,"wires":[]},{"id":"eef8ded951b5bcda","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng reachable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_is_reachable/config","payload":"{\"name\":\"Xpeng Is Reachable\",\"state_topic\":\"xpeng/is_reachable\",\"device_class\":\"connectivity\",\"unique_id\":\"xpeng_is_reachable\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":835.3333740234375,"y":280.6666259765625,"wires":[["e057ceddd504a455"]]},{"id":"e057ceddd504a455","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1090,"y":280,"wires":[]},{"id":"80cdf317023c122b","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Display Name","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_display_name/config","payload":"{\"name\":\"Xpeng Display Name\",\"state_topic\":\"xpeng/information/display_name\",\"unique_id\":\"xpeng_display_name\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":845.3333740234375,"y":340.6666259765625,"wires":[["99f6c43b555a9fd3"]]},{"id":"99f6c43b555a9fd3","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1090,"y":340,"wires":[]},{"id":"84c9ba913e16d735","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng VIN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_vin/config","payload":"{\"name\":\"Xpeng VIN\",\"state_topic\":\"xpeng/information/vin\",\"unique_id\":\"xpeng_vin\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":815.3333740234375,"y":400.6666259765625,"wires":[["b15e7ed9e2ffd014"]]},{"id":"b15e7ed9e2ffd014","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1090,"y":400,"wires":[]},{"id":"22b26ea5525184ea","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Charge Rate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_charge_rate/config","payload":"{\"name\":\"Xpeng Charge Rate\",\"state_topic\":\"xpeng/charge_state/chargeRate\",\"unit_of_measurement\":\"kW\",\"device_class\":\"power\",\"unique_id\":\"xpeng_charge_rate\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1360,"y":100,"wires":[["d2b9a771443c4a69"]]},{"id":"d2b9a771443c4a69","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1604.6666259765625,"y":99.3333740234375,"wires":[]},{"id":"a1506b04cab583df","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Charge Time remaining","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_charge_time_remaining/config","payload":"{\"name\":\"Xpeng Charge Time Remaining\",\"state_topic\":\"xpeng/charge_state/chargeTimeRemaining\",\"unit_of_measurement\":\"min\",\"device_class\":\"duration\",\"unique_id\":\"xpeng_charge_time_remaining\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1390,"y":160,"wires":[["0b763f61367a7c61"]]},{"id":"0b763f61367a7c61","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1604.6666259765625,"y":159.3333740234375,"wires":[]},{"id":"f234941179d83381","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng is fully charged","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_is_fully_charged/config","payload":"{\"name\":\"Xpeng Is Fully Charged\",\"state_topic\":\"xpeng/charge_state/isFullyCharged\",\"device_class\":\"battery\",\"unique_id\":\"xpeng_is_fully_charged\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1370,"y":220,"wires":[["75e8795a5a2f1351"]]},{"id":"75e8795a5a2f1351","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1604.6666259765625,"y":219.3333740234375,"wires":[]},{"id":"58fac7ac344f07ca","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Battery Capacity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_battery_capacity/config","payload":"{\"name\":\"Xpeng Battery Capacity\",\"state_topic\":\"xpeng/charge_state/batteryCapacity\",\"unit_of_measurement\":\"kWh\",\"device_class\":\"energy\",\"unique_id\":\"xpeng_battery_capacity\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1370,"y":280,"wires":[["b4be7ccec8044a83"]]},{"id":"b4be7ccec8044a83","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1604.6666259765625,"y":279.3333740234375,"wires":[]},{"id":"a3a3f0ed8467c228","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Charge Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_charge_limit/config","payload":"{\"name\":\"Xpeng Charge Limit\",\"state_topic\":\"xpeng/charge_state/chargeLimit\",\"unit_of_measurement\":\"%\",\"device_class\":\"battery\",\"unique_id\":\"xpeng_charge_limit\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1360,"y":340,"wires":[["71c28f231407e3b4"]]},{"id":"71c28f231407e3b4","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1604.6666259765625,"y":339.3333740234375,"wires":[]},{"id":"8c951f5c994aeb57","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Brand","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_brand/config","payload":"{\"name\":\"Xpeng Brand\",\"state_topic\":\"xpeng/information/brand\",\"unique_id\":\"xpeng_brand\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":820,"y":460,"wires":[["7e5d55f51adef186"]]},{"id":"7e5d55f51adef186","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1084.6666259765625,"y":459.3333740234375,"wires":[]},{"id":"d35e746aaac303f3","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Model","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_model/config","payload":"{\"name\":\"Xpeng Model\",\"state_topic\":\"xpeng/information/model\",\"unique_id\":\"xpeng_model\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":814.6666259765625,"y":519.3333740234375,"wires":[["926f90b2b0615c72"]]},{"id":"926f90b2b0615c72","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1079.333251953125,"y":518.666748046875,"wires":[]},{"id":"55fa4d6e6740c836","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Year","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_year/config","payload":"{\"name\":\"Xpeng Year\",\"state_topic\":\"xpeng/information/year\",\"unique_id\":\"xpeng_year\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":810,"y":580,"wires":[["44871bc31cda7396"]]},{"id":"44871bc31cda7396","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1084.6666259765625,"y":579.3333740234375,"wires":[]},{"id":"de0050fd806ef26c","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Power Delivery State","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_power_delivery_state/config","payload":"{\"name\":\"Xpeng Power Delivery State\",\"state_topic\":\"xpeng/charge_state/powerDeliveryState\",\"unique_id\":\"xpeng_power_delivery_state\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1380,"y":400,"wires":[["842c51c0c6e8a37c"]]},{"id":"842c51c0c6e8a37c","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1604.6666259765625,"y":399.3333740234375,"wires":[]},{"id":"e675d1054f242c49","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Max Current","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng/xpeng_max_current/config","payload":"{\"name\":\"Xpeng Max Current\",\"state_topic\":\"xpeng/charge_state/maxCurrent\",\"unit_of_measurement\":\"A\",\"device_class\":\"current\",\"unique_id\":\"xpeng_max_current\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1360,"y":460,"wires":[["29e5f2be42f047d3"]]},{"id":"29e5f2be42f047d3","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1604.6666259765625,"y":459.3333740234375,"wires":[]},{"id":"7a08b873116853c0","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Latitude","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_latitude/config","payload":"{\"name\":\"Xpeng Latitude\",\"state_topic\":\"xpeng/location/latitude\",\"unique_id\":\"xpeng_latitude\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":240,"y":460,"wires":[["736f4b584a6a18e1"]]},{"id":"736f4b584a6a18e1","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":504.6666259765625,"y":459.3333740234375,"wires":[]},{"id":"5d8a5a0d7280121e","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Longitude","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_longitude/config","payload":"{\"name\":\"Xpeng Longitude\",\"state_topic\":\"xpeng/location/longitude\",\"unique_id\":\"xpeng_longitude\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":250,"y":520,"wires":[["8ab390b8fbace857"]]},{"id":"8ab390b8fbace857","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":504.6666259765625,"y":519.3333740234375,"wires":[]},{"id":"6cbd2bb9589c3560","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Smart Charging Enabled","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_smart_charging_enabled/config","payload":"{\"name\":\"Xpeng Smart Charging Enabled\",\"state_topic\":\"xpeng/smart_charging_policy/isEnabled\",\"device_class\":\"switch\",\"unique_id\":\"xpeng_smart_charging_enabled\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1400,"y":520,"wires":[["39aecf765bed8e57"]]},{"id":"39aecf765bed8e57","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1604.6666259765625,"y":519.3333740234375,"wires":[]},{"id":"ba9f633260aafb20","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Smart Charging Policy","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_smart_charging_minimum_charge_limit/config","payload":"{\"name\":\"Xpeng Smart Charging Minimum Charge Limit\",\"state_topic\":\"xpeng/smart_charging_policy/minimumChargeLimit\",\"unit_of_measurement\":\"%\",\"device_class\":\"battery\",\"unique_id\":\"xpeng_smart_charging_minimum_charge_limit\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1390,"y":580,"wires":[["a5c6b398625ab027"]]},{"id":"a5c6b398625ab027","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1604.6666259765625,"y":579.3333740234375,"wires":[]},{"id":"3b46d88e1f914476","type":"inject","z":"637afd4d0ace0cde","name":"Xpeng Odometer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_odometer_distance/config","payload":"{\"name\":\"Xpeng Odometer Distance\",\"state_topic\":\"xpeng/odometer/distance\",\"unit_of_measurement\":\"km\",\"device_class\":\"distance\",\"unique_id\":\"xpeng_odometer_distance\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":250,"y":580,"wires":[["6435fbd201af88ae"]]},{"id":"6435fbd201af88ae","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":504.6666259765625,"y":579.3333740234375,"wires":[]},{"id":"4224593061d76365","type":"mqtt out","z":"637afd4d0ace0cde","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1590,"y":880,"wires":[]},{"id":"513acd4030945729","type":"debug","z":"637afd4d0ace0cde","name":"debug 149","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":980,"wires":[]},{"id":"edc8366a114033e1","type":"mqtt-broker","name":"Localhost","broker":"192.168.2.162","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]