NodeRed_enode_MQTT.json
[{"id":"165d3c574c1659fb","type":"tab","label":"Xp+eng uden koder","disabled":false,"info":"","env":[]},{"id":"515c5db2703a383c","type":"inject","z":"165d3c574c1659fb","name":"Run every 5 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":820,"wires":[["0a6b19381fd297aa"]]},{"id":"0a6b19381fd297aa","type":"exec","z":"165d3c574c1659fb","command":"curl https://oauth.production.enode.io/oauth2/token -X POST -u YOUR_CLIENT_ID:YOUR_CLIENT_SECRET -d \"grant_type=client_credentials\"","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Update token","x":430,"y":820,"wires":[["53ae703d508cf533"],[],[]]},{"id":"53ae703d508cf533","type":"function","z":"165d3c574c1659fb","name":"Extract and construct curl","func":"try {\n    // Parse the JSON response\n    let response = JSON.parse(msg.payload);\n\n    // Extract the access token\n    let token = response.access_token;\n\n    // Construct the curl command\n    msg.payload = `curl -X GET https://enode-api.production.enode.io/vehicles -H \"Authorization: Bearer ${token}\"`;\n\n    return msg;\n} catch (error) {\n    // Log the error and the payload\n    node.error(\"Failed to parse JSON: \" + error.message);\n    node.error(\"Payload: \" + msg.payload);\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":820,"wires":[["aaaf406bddbdf3d8","32a9b544476d5d5f"]]},{"id":"aaaf406bddbdf3d8","type":"debug","z":"165d3c574c1659fb","name":"debug 143","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":740,"wires":[]},{"id":"32a9b544476d5d5f","type":"exec","z":"165d3c574c1659fb","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Update data from enode","x":910,"y":820,"wires":[["0a3c6d1031eb3393","fcce41e4d510862d","ebc656a766a1b0b4","b8dc655819cf7952"],[],[]]},{"id":"0a3c6d1031eb3393","type":"debug","z":"165d3c574c1659fb","name":"debug 144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":720,"wires":[]},{"id":"fcce41e4d510862d","type":"function","z":"165d3c574c1659fb","name":"Parse JSON Data","func":"let data = JSON.parse(msg.payload).data[0];\n\n// Prepare payloads for each sensor\nmsg.payload = [\n    {\n        payload: {\n            data: {\n                state: data.chargeState.batteryLevel,\n                attributes: {\n                    unit_of_measurement: \"%\",\n                    friendly_name: \"Vehicle Battery Level\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_battery_level\"\n    },\n    {\n        payload: {\n            data: {\n                state: data.chargeState.range,\n                attributes: {\n                    unit_of_measurement: \"km\",\n                    friendly_name: \"Vehicle Range\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_range\"\n    },\n    {\n        payload: {\n            data: {\n                state: data.chargeState.isCharging ? \"Charging\" : \"Not Charging\",\n                attributes: {\n                    friendly_name: \"Vehicle Charging Status\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_charging_status\"\n    },\n    {\n        payload: {\n            data: {\n                state: data.chargeState.isPluggedIn ? \"Plugged In\" : \"Unplugged\",\n                attributes: {\n                    friendly_name: \"Vehicle Plugged In\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_plugged_in\"\n    },\n    {\n        payload: {\n            data: {\n                state: `${data.location.latitude}, ${data.location.longitude}`,\n                attributes: {\n                    friendly_name: \"Vehicle Location\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_location\"\n    },\n    {\n        payload: {\n            data: {\n                state: data.lastSeen,\n                attributes: {\n                    friendly_name: \"Vehicle Last Seen\"\n                }\n            }\n        },\n        topic: \"sensor.vehicle_last_seen\"\n    }\n];\n\nreturn [msg.payload.map(sensor => ({ ...sensor, payload: sensor.payload }))];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":780,"wires":[["61861bb9c26b15a9"]]},{"id":"61861bb9c26b15a9","type":"debug","z":"165d3c574c1659fb","name":"debug 145","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":720,"wires":[]},{"id":"48d85f1c005b7a1d","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1550,"y":840,"wires":[]},{"id":"ebc656a766a1b0b4","type":"function","z":"165d3c574c1659fb","name":"Extract primary (Sensors 1-6) data from array","func":"// Parse the JSON string into an object\nlet data;\ntry {\n    data = JSON.parse(msg.payload);\n} catch (e) {\n    node.error(\"Invalid JSON string\", msg);\n    return null;\n}\n\n// Set the main topic\nconst mainTopic = \"xpeng/\";\n\n// Function to convert boolean to string\nconst boolToString = (value) => value ? \"true\" : \"false\";\n\n// Check if the data array exists\nif (data && Array.isArray(data.data)) {\n    // Extract the data array\n    const dataArray = data.data;\n\n    // Prepare an array to hold multiple messages\n    const messages = [];\n\n    // Iterate over each item in the data array\n    dataArray.forEach(item => {\n        // Extract relevant information\n        const batteryLevel = item.chargeState.batteryLevel;\n        const range = item.chargeState.range;\n        const isPluggedIn = item.chargeState.isPluggedIn;\n        const isCharging = item.chargeState.isCharging;\n        const location = `${item.location.latitude}, ${item.location.longitude}`;\n        const lastSeen = item.lastSeen;\n\n        // Create messages for each attribute with distinct topics\n        if (batteryLevel !== undefined) {\n            messages.push({ topic: mainTopic + \"battery_level\", payload: batteryLevel });\n        }\n        if (range !== undefined) {\n            messages.push({ topic: mainTopic + \"range\", payload: range });\n        }\n        if (isPluggedIn !== undefined) {\n            // Convert boolean to string\n            messages.push({ topic: mainTopic + \"is_plugged_in\", payload: boolToString(isPluggedIn) });\n        }\n        if (isCharging !== undefined) {\n            // Convert boolean to string\n            messages.push({ topic: mainTopic + \"is_charging\", payload: boolToString(isCharging) });\n        }\n        if (location !== undefined) {\n            messages.push({ topic: mainTopic + \"location\", payload: location });\n        }\n        if (lastSeen !== undefined) {\n            messages.push({ topic: mainTopic + \"last_seen\", payload: lastSeen });\n        }\n    });\n\n    // Return each message separately\n    return [messages];\n} else {\n    // If the data array is not present, return an empty array or handle the error\n    node.error(\"Data array is not present or not an array\", msg);\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":840,"wires":[["dbe4066a5d6ced13","48d85f1c005b7a1d"]]},{"id":"dbe4066a5d6ced13","type":"debug","z":"165d3c574c1659fb","name":"debug 146","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":780,"wires":[]},{"id":"379a131bdda261ed","type":"inject","z":"165d3c574c1659fb","name":"Battery Level Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_battery_level/config","payload":"{\"name\":\"Xpeng Battery Level\",\"state_topic\":\"xpeng/battery_level\",\"unit_of_measurement\":\"%\",\"device_class\":\"battery\",\"unique_id\":\"xpeng_battery_level\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":225.3333740234375,"y":120.6666259765625,"wires":[["98c94b339c69ec56"]]},{"id":"509a3ec8ce1996e8","type":"inject","z":"165d3c574c1659fb","name":"Range Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_range/config","payload":"{\"name\":\"Xpeng Range\",\"state_topic\":\"xpeng/range\",\"unit_of_measurement\":\"km\",\"device_class\":\"distance\",\"unique_id\":\"xpeng_range\",\"icon\":\"mdi:speedometer\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":205.3333740234375,"y":180.6666259765625,"wires":[["ea6c2f999d960878"]]},{"id":"a5563444f4a6d14c","type":"inject","z":"165d3c574c1659fb","name":"Is Plugged In Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_is_plugged_in/config","payload":"{\"name\":\"Xpeng Is Plugged In\",\"state_topic\":\"xpeng/is_plugged_in\",\"unique_id\":\"xpeng_is_plugged_in\",\"payload_on\":true,\"payload_off\":false,\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":225.3333740234375,"y":240.6666259765625,"wires":[["a1f6bdcc556bdb96"]]},{"id":"ab101a988f43f98f","type":"inject","z":"165d3c574c1659fb","name":"Is Charging Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_is_charging/config","payload":"{\"name\":\"Xpeng Is Charging\",\"state_topic\":\"xpeng/is_charging\",\"unique_id\":\"xpeng_is_charging\",\"payload_on\":true,\"payload_off\":false,\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":225.3333740234375,"y":300.6666259765625,"wires":[["580ee75fb61f261b"]]},{"id":"415eef219605d9f1","type":"inject","z":"165d3c574c1659fb","name":"Location Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/device_tracker/xpeng_location/config","payload":"{\"name\":\"Xpeng Location\",\"state_topic\":\"xpeng/location\",\"unique_id\":\"xpeng_location\",\"icon\":\"mdi:car\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"},\"device_class\":\"gps\",\"json_attributes_topic\":\"xpeng/location_attributes\",\"source_type\":\"gps\",\"latitude\":0,\"longitude\":0,\"gps_accuracy\":0}","payloadType":"json","x":215.3333740234375,"y":360.6666259765625,"wires":[["acfcff8d4c808a2e"]]},{"id":"3543a75378228465","type":"inject","z":"165d3c574c1659fb","name":"Last Seen Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_last_seen/config","payload":"{\"name\":\"Xpeng Last Seen\",\"state_topic\":\"xpeng/last_seen\",\"device_class\":\"timestamp\",\"unique_id\":\"xpeng_last_seen\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":215.3333740234375,"y":420.6666259765625,"wires":[["8c2292c0901c9085"]]},{"id":"98c94b339c69ec56","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":475.3333740234375,"y":120.6666259765625,"wires":[]},{"id":"ea6c2f999d960878","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":475.3333740234375,"y":180.6666259765625,"wires":[]},{"id":"a1f6bdcc556bdb96","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":475.3333740234375,"y":240.6666259765625,"wires":[]},{"id":"580ee75fb61f261b","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":475.3333740234375,"y":300.6666259765625,"wires":[]},{"id":"acfcff8d4c808a2e","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":477,"y":361,"wires":[]},{"id":"8c2292c0901c9085","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":470,"y":420,"wires":[]},{"id":"b8dc655819cf7952","type":"function","z":"165d3c574c1659fb","name":"Extract all data from array","func":"// Parse the JSON string into an object\nlet data;\ntry {\n    data = JSON.parse(msg.payload);\n} catch (e) {\n    node.error(\"Invalid JSON string\", msg);\n    return null;\n}\n\n// Set the main topic\nconst mainTopic = \"xpeng/\";\n\n// Function to convert boolean to string\nconst boolToString = (value) => value ? \"true\" : \"false\";\n\n// Check if the data array exists\nif (data && Array.isArray(data.data)) {\n    // Extract the data array\n    const dataArray = data.data;\n\n    // Prepare an array to hold multiple messages\n    const messages = [];\n\n    // Iterate over each item in the data array\n    dataArray.forEach(item => {\n        // Extract relevant information\n        const id = item.id;\n        const userId = item.userId;\n        const vendor = item.vendor;\n        const isReachable = item.isReachable;\n        const lastSeen = item.lastSeen;\n        \n        const information = item.information || {};\n        const chargeState = item.chargeState || {};\n        const smartChargingPolicy = item.smartChargingPolicy || {};\n        const location = item.location || {};\n        const odometer = item.odometer || {};\n        const capabilities = item.capabilities || {};\n        const scopes = item.scopes || [];\n\n        // Create messages for each attribute with distinct topics\n        if (id !== undefined) {\n            messages.push({ topic: mainTopic + \"id\", payload: id });\n        }\n        if (userId !== undefined) {\n            messages.push({ topic: mainTopic + \"user_id\", payload: userId });\n        }\n        if (vendor !== undefined) {\n            messages.push({ topic: mainTopic + \"vendor\", payload: vendor });\n        }\n        if (isReachable !== undefined) {\n            messages.push({ topic: mainTopic + \"is_reachable\", payload: boolToString(isReachable) });\n        }\n        if (lastSeen !== undefined) {\n            messages.push({ topic: mainTopic + \"last_seen\", payload: lastSeen });\n        }\n\n        // Information\n        if (information.displayName !== undefined) {\n            messages.push({ topic: mainTopic + \"information/display_name\", payload: information.displayName });\n        }\n        if (information.vin !== undefined) {\n            messages.push({ topic: mainTopic + \"information/vin\", payload: information.vin });\n        }\n        if (information.brand !== undefined) {\n            messages.push({ topic: mainTopic + \"information/brand\", payload: information.brand });\n        }\n        if (information.model !== undefined) {\n            messages.push({ topic: mainTopic + \"information/model\", payload: information.model });\n        }\n        if (information.year !== undefined) {\n            messages.push({ topic: mainTopic + \"information/year\", payload: information.year });\n        }\n\n        // Charge State\n        Object.keys(chargeState).forEach(key => {\n            const value = chargeState[key];\n            if (value !== undefined) {\n                const payload = typeof value === 'boolean' ? boolToString(value) : value;\n                messages.push({ topic: mainTopic + \"charge_state/\" + key, payload: payload });\n            }\n        });\n\n        // Smart Charging Policy\n        Object.keys(smartChargingPolicy).forEach(key => {\n            const value = smartChargingPolicy[key];\n            if (value !== undefined) {\n                const payload = typeof value === 'boolean' ? boolToString(value) : value;\n                messages.push({ topic: mainTopic + \"smart_charging_policy/\" + key, payload: payload });\n            }\n        });\n\n        // Location\n        Object.keys(location).forEach(key => {\n            const value = location[key];\n            if (value !== undefined) {\n                messages.push({ topic: mainTopic + \"location/\" + key, payload: value });\n            }\n        });\n\n        // Odometer\n        Object.keys(odometer).forEach(key => {\n            const value = odometer[key];\n            if (value !== undefined) {\n                messages.push({ topic: mainTopic + \"odometer/\" + key, payload: value });\n            }\n        });\n\n        // Capabilities\n        Object.keys(capabilities).forEach(capability => {\n            const capabilityData = capabilities[capability];\n            if (capabilityData && typeof capabilityData === 'object') {\n                Object.keys(capabilityData).forEach(key => {\n                    const value = capabilityData[key];\n                    if (value !== undefined) {\n                        const payload = typeof value === 'boolean' ? boolToString(value) : value;\n                        messages.push({ topic: mainTopic + \"capabilities/\" + capability + \"/\" + key, payload: payload });\n                    }\n                });\n            }\n        });\n\n        // Scopes\n        if (scopes.length > 0) {\n            messages.push({ topic: mainTopic + \"scopes\", payload: scopes.join(\", \") });\n        }\n    });\n\n    // Return each message separately\n    return [messages];\n} else {\n    // If the data array is not present, return an empty array or handle the error\n    node.error(\"Data array is not present or not an array\", msg);\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":900,"wires":[["09fffe2a0325b6f5","5f8427d24e8cd55e"]]},{"id":"09fffe2a0325b6f5","type":"debug","z":"165d3c574c1659fb","name":"debug 147","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":960,"wires":[]},{"id":"a25f82f1fc5c68d4","type":"inject","z":"165d3c574c1659fb","name":"Xpeng ID","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_id/config","payload":"{\"name\":\"Xpeng ID\",\"state_topic\":\"xpeng/id\",\"unique_id\":\"xpeng_id\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":780.666748046875,"y":121.333251953125,"wires":[["310b991e41715e55"]]},{"id":"310b991e41715e55","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1055.3333740234375,"y":120.6666259765625,"wires":[]},{"id":"3f06e673c63b0e9e","type":"inject","z":"165d3c574c1659fb","name":"Xpeng User ID","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_user_id/config","payload":"{\"name\":\"Xpeng User ID\",\"state_topic\":\"xpeng/user_id\",\"unique_id\":\"xpeng_user_id\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":785.3333740234375,"y":180.6666259765625,"wires":[["c4905ebc7f010113"]]},{"id":"c4905ebc7f010113","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1050,"y":180,"wires":[]},{"id":"44b83c704b8293e9","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Vendor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_vendor/config","payload":"{\"name\":\"Xpeng Vendor\",\"state_topic\":\"xpeng/vendor\",\"unique_id\":\"xpeng_vendor\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":785.3333740234375,"y":240.6666259765625,"wires":[["2dc2f4def6632fc3"]]},{"id":"2dc2f4def6632fc3","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1050,"y":240,"wires":[]},{"id":"15442fbabea8fca4","type":"inject","z":"165d3c574c1659fb","name":"Xpeng reachable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_is_reachable/config","payload":"{\"name\":\"Xpeng Is Reachable\",\"state_topic\":\"xpeng/is_reachable\",\"device_class\":\"connectivity\",\"unique_id\":\"xpeng_is_reachable\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":795.3333740234375,"y":300.6666259765625,"wires":[["b9b4cf13c35efc39"]]},{"id":"b9b4cf13c35efc39","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1050,"y":300,"wires":[]},{"id":"d884cc656f1c9c93","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Display Name","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_display_name/config","payload":"{\"name\":\"Xpeng Display Name\",\"state_topic\":\"xpeng/information/display_name\",\"unique_id\":\"xpeng_display_name\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":805.3333740234375,"y":360.6666259765625,"wires":[["f16d03da5ca4e3a5"]]},{"id":"f16d03da5ca4e3a5","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1050,"y":360,"wires":[]},{"id":"0dd609bb7756f83d","type":"inject","z":"165d3c574c1659fb","name":"Xpeng VIN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_vin/config","payload":"{\"name\":\"Xpeng VIN\",\"state_topic\":\"xpeng/information/vin\",\"unique_id\":\"xpeng_vin\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":775.3333740234375,"y":420.6666259765625,"wires":[["f91e5c9111074ff6"]]},{"id":"f91e5c9111074ff6","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1050,"y":420,"wires":[]},{"id":"c8bd722dc98b4ee6","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Charge Rate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_charge_rate/config","payload":"{\"name\":\"Xpeng Charge Rate\",\"state_topic\":\"xpeng/charge_state/chargeRate\",\"unit_of_measurement\":\"kW\",\"device_class\":\"power\",\"unique_id\":\"xpeng_charge_rate\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1320,"y":120,"wires":[["ff99ada1a41083c1"]]},{"id":"ff99ada1a41083c1","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1564.6666259765625,"y":119.3333740234375,"wires":[]},{"id":"11031d067ae24606","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Charge Time remaining","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_charge_time_remaining/config","payload":"{\"name\":\"Xpeng Charge Time Remaining\",\"state_topic\":\"xpeng/charge_state/chargeTimeRemaining\",\"unit_of_measurement\":\"min\",\"device_class\":\"duration\",\"unique_id\":\"xpeng_charge_time_remaining\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1350,"y":180,"wires":[["37dc87e4c76410ac"]]},{"id":"37dc87e4c76410ac","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1564.6666259765625,"y":179.3333740234375,"wires":[]},{"id":"2cbcc48cd208fefb","type":"inject","z":"165d3c574c1659fb","name":"Xpeng is fully charged","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_is_fully_charged/config","payload":"{\"name\":\"Xpeng Is Fully Charged\",\"state_topic\":\"xpeng/charge_state/isFullyCharged\",\"device_class\":\"battery\",\"unique_id\":\"xpeng_is_fully_charged\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1330,"y":240,"wires":[["31eeb5a0d0d5e6ce"]]},{"id":"31eeb5a0d0d5e6ce","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1564.6666259765625,"y":239.3333740234375,"wires":[]},{"id":"025cfe15b3c0849f","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Battery Capacity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_battery_capacity/config","payload":"{\"name\":\"Xpeng Battery Capacity\",\"state_topic\":\"xpeng/charge_state/batteryCapacity\",\"unit_of_measurement\":\"kWh\",\"device_class\":\"energy\",\"unique_id\":\"xpeng_battery_capacity\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1330,"y":300,"wires":[["24a7e885498d6ad9"]]},{"id":"24a7e885498d6ad9","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1564.6666259765625,"y":299.3333740234375,"wires":[]},{"id":"a926253fc6b59d99","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Charge Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_charge_limit/config","payload":"{\"name\":\"Xpeng Charge Limit\",\"state_topic\":\"xpeng/charge_state/chargeLimit\",\"unit_of_measurement\":\"%\",\"device_class\":\"battery\",\"unique_id\":\"xpeng_charge_limit\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1320,"y":360,"wires":[["fcdeea38a6e4b75e"]]},{"id":"fcdeea38a6e4b75e","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1564.6666259765625,"y":359.3333740234375,"wires":[]},{"id":"407d2ceb967ff12a","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Brand","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_brand/config","payload":"{\"name\":\"Xpeng Brand\",\"state_topic\":\"xpeng/information/brand\",\"unique_id\":\"xpeng_brand\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":780,"y":480,"wires":[["f984bf13e8f87e2c"]]},{"id":"f984bf13e8f87e2c","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1044.6666259765625,"y":479.3333740234375,"wires":[]},{"id":"aa5ae8dfe8ad9d28","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Model","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_model/config","payload":"{\"name\":\"Xpeng Model\",\"state_topic\":\"xpeng/information/model\",\"unique_id\":\"xpeng_model\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":774.6666259765625,"y":539.3333740234375,"wires":[["0f734dc93e0a5848"]]},{"id":"0f734dc93e0a5848","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1039.333251953125,"y":538.666748046875,"wires":[]},{"id":"078bbf2d48f5b66d","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Year","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_year/config","payload":"{\"name\":\"Xpeng Year\",\"state_topic\":\"xpeng/information/year\",\"unique_id\":\"xpeng_year\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":770,"y":600,"wires":[["af6a69013142b5be"]]},{"id":"af6a69013142b5be","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1044.6666259765625,"y":599.3333740234375,"wires":[]},{"id":"a8fa5aa013fd3917","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Power Delivery State","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_power_delivery_state/config","payload":"{\"name\":\"Xpeng Power Delivery State\",\"state_topic\":\"xpeng/charge_state/powerDeliveryState\",\"unique_id\":\"xpeng_power_delivery_state\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1340,"y":420,"wires":[["d210ea245cb7a58a"]]},{"id":"d210ea245cb7a58a","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1564.6666259765625,"y":419.3333740234375,"wires":[]},{"id":"9324bf127094150e","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Max Current","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng/xpeng_max_current/config","payload":"{\"name\":\"Xpeng Max Current\",\"state_topic\":\"xpeng/charge_state/maxCurrent\",\"unit_of_measurement\":\"A\",\"device_class\":\"current\",\"unique_id\":\"xpeng_max_current\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1320,"y":480,"wires":[["969fa5da3710dd65"]]},{"id":"969fa5da3710dd65","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1564.6666259765625,"y":479.3333740234375,"wires":[]},{"id":"7ae50385dd26c84c","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Latitude","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_latitude/config","payload":"{\"name\":\"Xpeng Latitude\",\"state_topic\":\"xpeng/location/latitude\",\"unique_id\":\"xpeng_latitude\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":200,"y":480,"wires":[["264200e478b2fc8f"]]},{"id":"264200e478b2fc8f","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":464.6666259765625,"y":479.3333740234375,"wires":[]},{"id":"2f39c3ba201ee734","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Longitude","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_longitude/config","payload":"{\"name\":\"Xpeng Longitude\",\"state_topic\":\"xpeng/location/longitude\",\"unique_id\":\"xpeng_longitude\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":210,"y":540,"wires":[["4e98175b2857b582"]]},{"id":"4e98175b2857b582","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":464.6666259765625,"y":539.3333740234375,"wires":[]},{"id":"01e2ce3ffaca61c4","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Smart Charging Enabled","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_smart_charging_enabled/config","payload":"{\"name\":\"Xpeng Smart Charging Enabled\",\"state_topic\":\"xpeng/smart_charging_policy/isEnabled\",\"device_class\":\"switch\",\"unique_id\":\"xpeng_smart_charging_enabled\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1360,"y":540,"wires":[["3f156ed81b5f044c"]]},{"id":"3f156ed81b5f044c","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1564.6666259765625,"y":539.3333740234375,"wires":[]},{"id":"7ea9b35484113a4b","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Smart Charging Policy","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_smart_charging_minimum_charge_limit/config","payload":"{\"name\":\"Xpeng Smart Charging Minimum Charge Limit\",\"state_topic\":\"xpeng/smart_charging_policy/minimumChargeLimit\",\"unit_of_measurement\":\"%\",\"device_class\":\"battery\",\"unique_id\":\"xpeng_smart_charging_minimum_charge_limit\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":1350,"y":600,"wires":[["590c00ada602fcc7"]]},{"id":"590c00ada602fcc7","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1564.6666259765625,"y":599.3333740234375,"wires":[]},{"id":"379249ee3d56e440","type":"inject","z":"165d3c574c1659fb","name":"Xpeng Odometer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"homeassistant/sensor/xpeng_odometer_distance/config","payload":"{\"name\":\"Xpeng Odometer Distance\",\"state_topic\":\"xpeng/odometer/distance\",\"unit_of_measurement\":\"km\",\"device_class\":\"distance\",\"unique_id\":\"xpeng_odometer_distance\",\"device\":{\"identifiers\":[\"xpeng\"],\"name\":\"Xpeng\",\"model\":\"Xpeng Model\",\"manufacturer\":\"Xpeng\"}}","payloadType":"json","x":210,"y":600,"wires":[["c0625a457a29db4c"]]},{"id":"c0625a457a29db4c","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":464.6666259765625,"y":599.3333740234375,"wires":[]},{"id":"5f8427d24e8cd55e","type":"mqtt out","z":"165d3c574c1659fb","name":"","topic":"","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edc8366a114033e1","x":1550,"y":900,"wires":[]},{"id":"edc8366a114033e1","type":"mqtt-broker","name":"Localhost","broker":"192.168.2.162","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]